.sounds {
    float: none;
}
.app-state {
    float: none;
}
.coin, .slot {
    background-size: contain;
    text-align: center;
    font-family: sans-serif;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    block-size: fit-content;
    line-height: 80px;
}

.coin {
    background-image: url('../img/coin.png');
}

.slot {
    background-image: url('../img/coin-slot-arrow.jpeg');
}
